loguru~=0.6.0
flask~=2.0.3
flask-restful
sqlalchemy~=1.4.32
requests~=2.27.1
bs4~=0.0.1
pymongo~=4.0.2

PySnooper~=1.1.0
sevseg~=0.1.0
Bext~=0.0.8
pandas~=1.4.1
beautifulsoup4~=4.10.0
pytest~=7.0.1
setuptools~=58.1.0
