loguru~=0.6.0
flask~=2.1.2
flask-restful
sqlalchemy~=1.4.37
requests~=2.27.1
pymongo~=4.1.1
PySnooper~=1.1.1
pandas~=1.4.2
pytest~=7.1.2
setuptools~=62.3.2

pywebio~=1.6.1
beautifulsoup4~=4.11.1
numpy~=1.22.4
nltk~=3.6.7
pdfplumber~=0.7.0
matplotlib~=3.5.2
